Failed to dump process list for 'docker.service', ignoring: Input/output error
[0;1;32m●[0m docker.service - Docker Application Container Engine
     Loaded: loaded (/lib/systemd/system/docker.service; enabled; vendor preset: enabled)
     Active: [0;1;32mactive (running)[0m since Fri 2024-02-23 16:35:44 -03; 34min ago
TriggeredBy: [0;1;32m●[0m docker.socket
       Docs: https://docs.docker.com
   Main PID: 12169 (dockerd)
      Tasks: 33
     Memory: 107.2M
     CGroup: /system.slice/docker.service

Feb 23 16:35:44 MVRCSIS-N21814 dockerd[12169]: time="2024-02-23T16:35:44.830905884-03:00" level=info msg="Loading containers: done."
Feb 23 16:35:44 MVRCSIS-N21814 dockerd[12169]: time="2024-02-23T16:35:44.859292664-03:00" level=warning msg="WARNING: No blkio throttle.read_bps_device support"
Feb 23 16:35:44 MVRCSIS-N21814 dockerd[12169]: time="2024-02-23T16:35:44.859324480-03:00" level=warning msg="WARNING: No blkio throttle.write_bps_device support"
Feb 23 16:35:44 MVRCSIS-N21814 dockerd[12169]: time="2024-02-23T16:35:44.859327416-03:00" level=warning msg="WARNING: No blkio throttle.read_iops_device support"
Feb 23 16:35:44 MVRCSIS-N21814 dockerd[12169]: time="2024-02-23T16:35:44.859329786-03:00" level=warning msg="WARNING: No blkio throttle.write_iops_device support"
Feb 23 16:35:44 MVRCSIS-N21814 dockerd[12169]: time="2024-02-23T16:35:44.859350299-03:00" level=info msg="Docker daemon" commit=f417435 containerd-snapshotter=false storage-driver=overlay2 version=25.0.3
Feb 23 16:35:44 MVRCSIS-N21814 dockerd[12169]: time="2024-02-23T16:35:44.859373734-03:00" level=info msg="Daemon has completed initialization"
Feb 23 16:35:44 MVRCSIS-N21814 dockerd[12169]: time="2024-02-23T16:35:44.881922928-03:00" level=info msg="API listen on /run/docker.sock"
Feb 23 16:35:44 MVRCSIS-N21814 systemd[1]: Started Docker Application Container Engine.
Feb 23 17:01:20 MVRCSIS-N21814 dockerd[12169]: time="2024-02-23T17:01:20.321290472-03:00" level=info msg="ignoring event" container=fa1f016ea1511383488e6979dfc58090c8641a66746a4c5498e06b60ba1bfee5 module=libcontainerd namespace=moby topic=/tasks/delete type="*events.TaskDelete"
